@using SistemaReclutamiento.Models

<div ng-controller="LoginController">


    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Bienvenido/a a nuestro Sistema de Reclutamiento @Session[Sesiones.Usuario] <i class="fas fa-user-circle"></i> </h1>
                </div>
           
            </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-user-follow m-auto text-primary"></i>
                        </div>
                        <h3>Registro</h3>
                        <p class="lead mb-0">Registro de candidatos!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-notebook m-auto text-primary"></i>
                        </div>
                        <h3>Gestión</h3>
                        <p class="lead mb-0">Gestión del proceso de reclutamiento del personal!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-user-following m-auto text-primary"></i>
                        </div>
                        <h3>Contratación</h3>
                        <p class="lead mb-0">Contratación de personal!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Image Showcases -->
    @*<section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">

                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../img/bg-showcasestats.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Estrategias &amp; Estadisticas</h2>
                    <p class="lead mb-0">A la hora de tomar decisiones tenemos que tener en cuanta ciertos parametros, por eso es que est sistema ofrece un apartado de reportes que brindaran al usuario información necesaria para tomar las mejores deciones.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../img/bg-teamwork.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Trabajo en Equipo</h2>
                    <p class="lead mb-0">El trabajo en equipo lo es todo, es por esto que este sistema está desarrallado a base de un buen trabajo en equipo integrado por personas apasionadas ellos son: <b>Darwin, Luis Enrique y Alan Gómez</b></p>

                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../img/bg-showcase-2.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Diseño de Calidad, Intuitivo &amp; Seguro</h2>
                    <p class="lead mb-0">Diseño intuitivo y fácil de usar, con técnologia ASP.NET, C#, JavaScript para contar con eficiencia y seguridad a la hora de trabajar con los datos de los candidatos</p>
                </div>
            </div>
        </div>
    </section>*@



</div>

