
    <style>

        header.masthead1 {
            position: relative;
            background-color: #343a40;
            background: url("../img/bg-newone.jpg") no-repeat center center;
            background-size: cover;
            padding-top: 6rem;
            padding-bottom: 6rem;
        }

        .my-custom-scrollbar {
            position: absolute;
            height: 400px;
            overflow-x: scroll;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
    </style>

<div ng-controller="CrearUsuarioController" ng-load="GetUsuarios">


    <!-- Masthead -->
    
    <header class="masthead1 text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5 text-black">Crear Usuario <i class="icon-user-follow"></i> </h1>
                </div>

            </div>
        </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">


                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-info m-auto text-primary"></i>
                        </div>
                        <h3 class="mb-5">Información</h3>
                        <div class="d-flex flex-row">
                            <b>Nombre de Usuario:</b>
                            <input type="text" ng-model="nombreUsuario" class="form-control mt-1" id="usuario" value="" />
                        </div>

                        <form name="form" class="d-flex align-items-start flex-row mt-5 mr-5">

                            <b>Correo Eléctronico:</b>
                            <div role="alert" class="d-flex align-items-start flex-column col-11">
                                <input type="email" ng-model="correo" name="input" class="form-control mt-1" required id="correo" value="" />

                                @*<span class="alert alert-danger mt-2" ng-show="form.input.$error.required">
                                Required!
                            </span>*@
                                <span class="alert alert-danger mt-2" ng-show="form.input.$error.email">
                                    <strong>Correo inválido!</strong> No tiene formato de correo.
                                </span>
                            </div>
                        </form>

                        <div class="d-flex flex-row mt-5">
                            <b>Descripción: </b>
                            <textarea class="form-control" ng-model="descripcion" rows="4" cols="50" id="descripcion"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-lock m-auto text-primary"></i>
                        </div>
                        <h3 class="mb-5">Seguridad</h3>
                        <div class="d-flex flex-row">
                            <b class="ml-3">Password:</b>
                            <input type="password" ng-blur="limpiarConfirmacionesPass()" ng-model="pass" class="form-control mt-1 ml-2" id="pass" value="" />
                        </div>

                        <div class="d-flex flex-row mt-5">
                            <b>Confirmar Password:</b>
                            <input type="password" ng-blur="ConfirmarPassword()" ng-model="confirmPass" class="form-control mt-1" id="confirmpass" value="" />
                        </div>

                        <div id="success">
                            <div class="alert alert-success" role="alert">
                                <strong>El password coincide!</strong> Ahora puede crear el usuario
                            </div>
                        </div>

                        <div id="error">
                            <div class="alert alert-danger" role="alert">
                                <strong>El password no coincide!</strong> Los password tienen que coincidir para continuar.
                            </div>
                        </div>

                        <div class="d-flex align-items-start flex-column mt-5 ml-3">

                            <b>Elegir Perfil:</b>

                            <label ng-repeat="p in Perfiles">
                                <input ng-model="perfil.id" type="radio" name="perfiles" ng-value="p.Id">
                                {{p.Perfil}}
                            </label>

                        </div>

                        <form class="form-inline mt-5 ml-5">
                            <button type="button" id="btncrear" ng-click="CreateUser()" disabled class="btn btn-primary mr-3">Crear Usuario <i class="ml-1 fa fa-user-plus"></i></button>
                            <button type="button" class="btn btn-secondary">Nuevo <i class="ml-1 fa fa-pencil-alt"></i></button>
                            <button type="button" ng-show="modify" ng-click="ModificarUsuario()" class="btn btn-secondary">Modificar <i class="ml-1 fa fa-edit"></i></button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex ml-5">
                            <i class="icon-user-following m-auto text-primary"></i>
                        </div>
                        <h3 class="mb-5 ml-5">Usuarios Creados</h3>

                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-light table-hover">
                                <thead>
                                    <tr>
                                        <th>Usuario</th>
                                        <th>Descripción</th>
                                        <th>Correo</th>
                                        <th>Editar</th>
                                        <th>Desactivar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="u in Usuarios">
                                        <td>{{u.Usuario}}</td>
                                        <td>{{u.Descripcion}}</td>
                                        <td>{{u.Correo}}</td>
                                        <td ng-click="EditUsuario(u)"><button class=" btn btn-sm btn-light"><i class="fa fa-edit"></i></button></td>
                                        <td ng-click="DesactivarUsuario(u.Id)"><button class=" btn btn-sm btn-light"><i class="fa fa-times"></i></button></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       

                    </div>
                </div>

            </div>
        </div>
    </section>


</div>

